<p>Psychiatric disorders are among the most common and debilitating illnesses across the lifespan and begin usually prior to age 24, which emphasizes the need for increased focus on studies of the developing brain. The present proposal offers a unique large-sample dataset that provides a wide array of different psychiatric developmental disorders.</p>

<p>The goal of this challenge is to classify the diseases of children and adolescents based on resting electroencephalography (EEG), demographics, and cognitive behavioural data.</p>

<p>Dataset was recorded in the Child Mind Institute (NY), as a part of the Healthy Brain Network, an ongoing initiative focused on creating and sharing a biobank comprised of data from New York City area children and adolescents.</p>

<p>We thank Professor Nicolas Langer, Ph.D. for providing this dataset.</p>


<h5>Data Description</h5>

<h6>File descriptions</h6>
<ul>
    <li>X_train.csv - the training set features</li>
    <li>X_test.csv - the test set features</li>
    <li>y_train.csv - the training set labels</li>
    <li>sample.csv - a sample submission file in the correct format</li>
    <li>additional_X.csv - additional sample set features</li>
    <li>additional_y.csv - additional sample set features labels</li>
</ul>


<h6>Data fields</h6>

<h7>Label</h7>
<ul>
    <li>DX_01 - Diagnosis</li>
</ul>

<h7>Behavioral cognitive data</h7>
<ul>
    <li>APQ_P_Total - Alabama Parenting Questionnaire (reported by parent)</li>
    <li>APQ_SR_Total - Alabama Parenting Questionnaire (self reported)</li>
    <li>ARI_P_Total_Score - Affective Reactivity Index (reported by parent)</li>
    <li>ARI_S_Total_Score -Affective Reactivity Index (self reported)</li>
    <li>Barratt_Total - Barratt Impulsiveness Scale</li>
    <li>SCQ_Total - Social Communication Questionnaire</li>
    <li>SWAN_Total - Rating Scale for ADHD</li>
    <li>WISC_FSIQ - Wechsler Intelligence Scale for Children</li>
</ul>

<h6>Resting State EEG</h6>
<h7>Power Spectra</h7>
<ul>
    <li>eyesclosed_psd_10dot50hz_average - power spectra density for 10.50 Hz frequency bin for eyes closed condition</li>
    <li>eyesopen_psd_10dot50hz_average - power spectra density for 10.50 Hz frequency bin for eyes open condition</li>
</ul>

<h7>Microstates</h7>
<ul>
    <li>eyesclosed_microstates_occurence_prototype1 - Occurence of a microstate (type 1) per sec</li>
    <li>eyesclosed_microstates_coverage_prototype1 - % of time occupied by a microstate (type 1) (in the eyes closed condition)</li>
    <li>eyesclosed_microstates_duration_prototype2 - Average duration of a microstate</li>
    <li>eyesclosed_microstates_mspatcorr_prototype2 - Spatial Correlation between template maps and microstatesX_train.csv - the training set features</li>
</ul>