<p>Psychiatric disorders are among the most common and debilitating illnesses across the lifespan and begin usually prior to age 24, which emphasizes the need for increased focus on studies of the developing brain. The present proposal offers a unique large-sample dataset that provides a wide array of different psychiatric developmental disorders.</p>

<p>The goal of this challenge is to classify the diseases of children and adolescents based on resting electroencephalography (EEG), demographics, and cognitive behavioural data.</p>

<p>Dataset was recorded in the Child Mind Institute (NY), as a part of the Healthy Brain Network, an ongoing initiative focused on creating and sharing a biobank comprised of data from New York City area children and adolescents.</p>

<p>We thank Professor Nicolas Langer, Ph.D. for providing this dataset.</p>